<h1 mat-dialog-title>Edit Element</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Position</mat-label>
      <input formControlName="position" matInput type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput type="text">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Weight</mat-label>
      <input formControlName="weight" matInput type="number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Symbol</mat-label>
      <input formControlName="symbol" matInput type="text">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button (click)="onSave()" mat-button>Save</button>
</div>
